amqp==1.4.6
amqplib==1.0.2
anyjson==0.3.3
billiard==3.3.0.18
binaryornot==0.3.0
celery==3.1.21
certifi==2018.4.16
chardet==3.0.4
cookiecutter==0.8.0
Django==1.8.18
django-filter==0.11.0
djangorestframework==2.3.13
djangorestframework-csv==1.3.3
ecdsa==0.11
gunicorn==19.6.0
idna==2.7
Jinja2==2.7.3
kombu==3.0.30
Markdown==2.4.1
MarkupSafe==0.23
mock==1.0.1
ordereddict==1.1
pymongo==3.2.1
python-dateutil==1.5
python-memcached==1.48
pytz==2014.7
PyYAML==4.2b1
simplejson==3.6.5
six==1.7.2
urllib3==1.26.5
